@import 'normalize.css';
@import 'main.css';

.splide__slide img {
    width: 100%;
    object-fit: cover;
    height: 600px;
}

main {
    display: grid;
    gap: 2rem;
}

section {
    margin: 0 auto;
    padding: 2rem;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

section>h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0f2fe;
    border-radius: 0.5rem;
    padding: 1.25rem 1rem;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: transform 150ms;
}

.card:hover {
    transform: scale(1.05);
}

.card>ion-icon {
    color: var(--heading-color);
    font-size: 1.875rem;
    margin-bottom: 1rem;
}

.card>h4 {
    margin: 0.75rem 0;
}

#about-section {
    display: grid;
    gap: 2rem;
}

#about-section>div {
    display: grid;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    #about-section>div:nth-child(odd) {
        grid-template-columns: 9fr 11fr;
    }

    #about-section>div:nth-child(even) {
        grid-template-columns: 11fr 9fr;
    }
}

#about-section>div:nth-child(even) .about-content {
    order: unset;
}

#about-section>div:nth-child(even) .about-img {
    order: unset;
}

@media (min-width: 1024px) {
    #about-section>div:nth-child(even) .about-content {
        order: 1;
    }

    #about-section>div:nth-child(even) .about-img {
        order: 2;
    }
}

.about-img {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-bottom: auto;
}

.about-img>img {
    transition: transform 300ms;
    min-height: 340px;
    object-fit: cover;
}

.about-img>img:hover {
    transform: scale(1.05);
}

.about-content {
    font-size: 1.125rem;
    line-height: 2.25rem;
    color: #27272a;
}

.about-content>h2 {
    margin-bottom: 0.75rem;
}

.achievement-container {
    color: #0ea5e9;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.achievement {
    background-color: oklch(97% 0.014 254.604);
    padding: 0.75rem;
    border-radius: 9999px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: transform 150ms;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.achievement:hover {
    transform: translateY(-0.25rem);
}

.achievement>ion-icon {
    color: #facc15;
}

#features-section>div {
    display: grid;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    #features-section>div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    #features-section>div {
        grid-template-columns: repeat(4, 1fr);
    }
}

#reviews-section>div {
    display: grid;
    gap: 1.5rem;
}

@media (min-width: 1024px) {
    #reviews-section>div {
        grid-template-columns: repeat(3, 1fr);
    }
}

#partners-section>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

#partners-section>div img {
    height: 3rem;
}

#cta-section {
    background-color: #7dd3fc;
    text-align: center;
    padding: 4rem 0;
}

#cta-section h1 {
    color: #0c4a6e !important;
}