@import 'main.css';

#slider-wrapper img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: none;
    transition: opacity 0.5s;
}

/* Dots */
.dot-container {
    position: absolute;
    width: 100%;
    bottom: 18px;
    left: 0;
    text-align: center;
    z-index: 2;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid #fff;
    transition: background 0.2s;
}

.dot.active {
    background: #258aa4;
    border-color: #258aa4;
}