@import 'normalize.css';
@import 'common.css';

header {
    background-color: white;
}

nav {
    text-transform: uppercase;
}

#desktop-nav {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;

    >.left {
        display: flex;
        align-items: center;
    }
}

#logo {
    height: 48px;
}

.desktop-menu {
    display: none;
    color: #333;
    margin-left: 2.5rem;
    gap: 1.5rem;

    @media (min-width: 1024px) {
        display: flex;
    }
}

a,
.welcome {
    font-family: 'K2D', sans-serif;
    transition: color 0.2s;
    font-size: 1.125rem;
    font-weight: 700;
}

a:hover:not(.active) {
    color: #0284c7;
}

a.active,
.welcome {
    color: #0369a1;
}

#mobile-button {
    margin-right: -0.5rem;
    display: flex;

    @media (min-width: 1024px) {
        display: none;
    }

    button {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.375rem;
        padding: 0.5rem;
        color: #1f2937;
        transition: color 0.2s;

        &:hover {
            color: #2563eb;
        }

        &:focus {
            outline: none;
        }

    }

}

#mobile-menu>div {
    display: flex;
    flex-direction: column;
    color: #4b5563;
    gap: 1rem;
    padding: 0.5rem 2rem;
}

.hidden {
    display: none;
}