@import 'common.css';

main {
    margin: 3rem auto;
    padding: 2rem;
    background-color: #fafafa;
    border-radius: 1rem;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    display: grid;
    grid-template:
        "contact-form contact-info"
        "contact-map contact-map" / 3fr 2fr;
    gap: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

#contact-form p {
    margin-bottom: 1rem;
}

#contact-form {
    grid-area: contact-form;
}

#contact-info {
    grid-area: contact-info;
}

#contact-map {
    grid-area: contact-map;
}

.hotline {
    font-size: 1.25rem;
    color: var(--heading-color);
}

.info-note {
    color: #0ea5e9;
    font-size: 0.875rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;
}

.info-note ion-icon {
    width: 1.25rem;
    font-size: 1.25rem;
}

#contact-form form {
    color: #1e293b;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.input-field {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #bae6fd;
    border-radius: 0.5rem;
}

.submit-btn {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0.5rem 0;
    transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: var(--heading-color);
}

#connect {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#connect span {
    font-size: 1.125rem;
    color: var(--alternative-text-color);
}

.social-icons {
    display: inline-flex;
    gap: 0.5rem;
    margin: auto 0;
    height: 100%;
    color: var(--primary-color);
    font-size: 1.25rem;
}

.social-icons ion-icon {
    transition: color 0.2s;
    cursor: pointer;
}

.social-icons ion-icon:hover {
    color: var(--heading-color);
}

.info-grid {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem 1rem;
}

.info-grid ion-icon {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
}

#map-container {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.08);
    grid-column: span 2;
}

@media (max-width: 1024px) {
    main {
        padding: 1rem;
        grid-template:
            "contact-form"
            "contact-map";
    }

    #contact-info {
        display: none;
    }
}