@import 'normalize.css';
@import 'main.css';

main {
    margin: 3rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: grid;
    gap: 2.5rem;
}

@media (min-width: 1024px) {
    main {
        grid-template-columns: 3fr 2fr;
    }
}

h2 {
    line-height: calc(2 / 1.5);
    margin-bottom: 1rem;
}

#contact-form p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #374151;
    margin-bottom: 1rem;
}

#contact-form p b {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #0284c7;
}

#contact-form span.text-sky-500 {
    color: #0ea5e9;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 0.5rem;
}

#contact-form span.text-sky-500.icon-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#contact-form form {
    color: #111827;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#contact-form form input,
#contact-form form select,
#contact-form form textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #e0f2fe;
    border-radius: 0.5rem;
}

#contact-form form input:focus,
#contact-form form select:focus,
#contact-form form textarea:focus {
    outline: 2px solid #0ea5e9;
    outline-offset: 2px;
}

#contact-form form button[type="submit"] {
    width: 100%;
    background-color: #0ea5e9;
    color: white;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    padding: 0.5rem 0;
    transition: all 0.15s ease-in-out;
    border: none;
    cursor: pointer;
}

#contact-form form button[type="submit"]:hover {
    background-color: #0284c7;
}

#connect {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#connect>span {
    margin-right: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: #374151;
}

#connect .social-icons {
    display: inline-flex;
    gap: 0.5rem;
}

#connect .social-icons ion-icon {
    color: #0ea5e9;
    font-size: 1.25rem;
    line-height: 1.75rem;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

#connect .social-icons ion-icon:hover {
    color: #0284c7;
}

#contact-info {
    display: none;
}

@media (min-width: 1024px) {
    #contact-info {
        display: block;
    }
}

#contact-info>div {
    padding-top: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem 1rem;
}

#contact-info>div ion-icon {
    background-color: oklch(95.1% 0.026 236.824);
    color: #0ea5e9;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 2.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-info>div div p a {
    color: #0ea5e9;
    text-decoration: none;
}

#contact-info>div div p a:hover {
    text-decoration: underline;
}

#map-container {
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (min-width: 1024px) {
    #map-container {
        grid-column: span 2;
    }
}

#map-container iframe {
    width: 100%;
    height: 350px;
    border: none;
}

ion-icon[class*="size-6"] {
    width: 1.5rem;
    height: 1.5rem;
}