@import 'common.css';

body {
    background-color: white;
}

ion-icon {
    --ionicon-stroke-width: 3rem;
}

.filter-section {
    margin-bottom: 1rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;

    >button {
        width: 100%;
        padding: 0.75rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

        &:hover {
            background-color: #f9fafb;
        }

        >h4 {
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            color: #374151;
        }

        >ion-icon {
            color: #6b7280;
        }
    }
}

.filter-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.75rem;

    >input {
        width: 1rem;
        height: 1rem;
        color: #2563eb;
        background-color: #f3f4f6;
        border: 1px solid #d1d5db;
        border-radius: 0.25rem;
    }

    >span {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #4b5563;
    }
}